<!-- build:process -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title><%= html_title %> - De bijlesformule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="cL5ifEtOYz4V7rpM-zMGP1FkwjZ3NS5NfLM5Y8REGh0"/>
    <meta name="description" content="<%= html_description %>">

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="theme.css">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="<%= body_id %>">

<header class="navbar navbar-inverse <%= header_class %>" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">De bijlesformule</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/over-mij.html">
                        Over mij
                    </a>
                </li>
                <li>
                    <a href="/contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- build:section templates --><!-- /build -->

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 copyright">
                De bijlesformule © 2015 - 2016
            </div>
            <div class="col-sm-6 menu">
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/over-mij.html">
                            Over mij
                        </a>
                    </li>
                    <li>
                        <a href="/contact.html">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script async src='//www.google-analytics.com/analytics.js'></script>

<!-- build:script inline main --><!-- /build -->

</body>
</html>
<!-- /build -->