{% extends "layout.html.twig" %}
{% block content %}

    <div class="container">
        <div class="row">

            <h1>Bedankt voor uw vraag</h1>

            <p>
                Uw vraag is verzonden. Ik zal hier zo spoedig mogelijk op reageren.
            </p>

            <a href="{{ siteUrl('/') }}" class="button button-small">Terug naar de home pagina</a>

        </div>
    </div>

{% endblock %}