{% extends "layout.html.twig" %}
{% block content %}
    <div id="hero">
        <div class="container">
            <h1 class="hero-text animated fadeInDown">
                De oplossing voor<br>
                jouw wiskunde opgave
            </h1>

            <div class="cta animated fadeInDown">
                <a href="contact?vraag=kennismakingsgesprek" class="button-outline" rel="nofollow">
                    Vraag een gratis kennismakingsgesprek aan
                </a>
            </div>
        </div>
    </div>

    <div id="features">
        <div class="container">
            <div class="row header">
                <div class="col-md-12">
                    <h2>Beter worden in wiskunde</h2>

                    <p>
                        Wiskunde. Veel leerlingen in het middelbaar onderwijs zien er als een berg tegenop. Ze zwoegen
                        op hun huiswerk en halen desondanks alleen maar onvoldoendes. Toch is wiskunde veel eenvoudiger
                        dan men denkt en kan je er snel beter in worden met de juiste bijles.
                    </p>

                    <p>
                        Ook uw zoon of dochter kan beter worden in wiskunde met bijles van De Bijlesformule! De
                        Bijlesformule geeft wiskundebijles en huiswerkbegeleiding bij u thuis. Dit doen we in Eindhoven,
                        Oisterwijk, Moergestel en Oirshot. In overleg kunnen hier ook andere plaatsen aan worden
                        toegevoegd.
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-md-6 info">
                    <h4>Huiswerkbegeleiding en wiskundebijles ineen</h4>

                    <p>
                        Mark Biesheuvel van De Bijlesformule is gek op wiskunde en geeft graag privé bijles aan
                        leerlingen die moeite hebben met dit mooie vak.
                    </p>

                    <p>
                        Elke les wordt op maat samengesteld. Tijdens een bijles herhalen we bijvoorbeeld de uitleg van
                        de docent nog een keer, we maken samen een wiskundeproefwerk waar uw kind een onvoldoende voor
                        haalde of we oefenen het huiswerk voor de volgende dag. U krijgt dus een combinatie van
                        huiswerkbegeleiding en wiskundebijles ineen!
                    </p>

                    <p>
                        In wiskunde is het ook vaak zo dat nieuwe onderwerpen zijn gebaseerd op onderwerpen die al
                        behandeld zijn. Als uw zoon of dochter moeite had met dit onderwerp is de kans groot dat het
                        nieuwe onderwerp moeilijk te volgen is. In dit geval kunnen we samen het oude onderwerp opnieuw
                        behandelen om zo een betere basis te vormen.
                    </p>
                </div>
                <div class="col-md-6 image">
                    <img src="" data-src="images/uitleg.png" class="img-responsive lazy"
                         alt="Uitleg die begrijpelijk is voor jou"
                         title="Uitleg die begrijpelijk is voor jou"/>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row feature backwards">
                <div class="col-md-6 info">
                    <h4>Uitgebreide begeleiding</h4>

                    <p>
                        Ook voor wiskunde geldt: oefening baart kunst. We oefenen de opgaven uit het wiskundeboek totdat
                        leerlingen deze makkelijk kunnen oplossen. Daarna krijgen ze aanvullende opdrachten om te
                        toetsen of de stof goed wordt begrepen.
                    </p>

                    <p>
                        Door in elke bijles veel te oefenen met verschillende opgaven en door verdiepende vragen te
                        beantwoorden gaan leerlingen echt begrijpen hoe wiskunde werkt. En als je begrijpt hoe het werkt
                        kan je ook de vragen van elk proefwerk beantwoorden.
                    </p>
                </div>
                <div class="col-md-6 image">
                    <img src="" data-src="images/begeleiding.png" class="img-responsive lazy"
                         alt="Begeleiding tijdens het maken van een opgave"
                         title="Begeleiding tijdens het maken van een opgave"/>
                </div>
            </div>
        </div>
    </div>
    <div id="testimonials">
        <div class="container">
            <div class="row header">
                <div class="col-md-12">
                    <h2 style="color:#555;font-weight:300;font-size:28px">Referenties van klanten</h2>

                    <p></p>
                </div>
            </div>
            <div class="row" style="margin-top:55px">
                <div class="col-xs-12">
                    <div class="testimonial pull-right">
                        <div class="quote">

                            <p>
                                Ik vond Mark een uitstekende bijlesdocent: geduldig, serieus en doelgericht. Het was
                                prettig dat we zowel de stof in het boek behandelden, evenals opgaves die hij voor mij
                                bedacht. Zo kon ik toch meer grip op de, voor mij immer lastige stof krijgen.
                            </p>

                            <p>
                                Ook was het nuttig dat we naar een proefwerk van mij gekeken hebben. We hebben ons
                                daarna
                                sterk gefocusd op de dingen waar ik het meeste moeite mee had. Ook qua communicatie
                                verliep alles goed en hij was immer stipt op tijd.
                            </p>

                            <p>
                                Voor mij zijn de bijlessen meer dan nuttig geweest en ze gaven me net die steun om mijn
                                vwo-diploma te halen. Ik kijk er dan ook met een louter goed gevoel op terug.
                            </p>

                            <div class="arrow-down">
                                <div class="arrow"></div>
                                <div class="arrow-border"></div>
                            </div>
                        </div>
                        <div class="author">
                            <img src="" data-src="images/testimonials/max.jpg" class="pic lazy"
                                 alt="Max Tromp" title="Max Tromp"/>

                            <div class="name">Max Tromp</div>
                            <div class="company">Wiskunde A, 5/6VWO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-wrapper">
                        <h4>Heeft u een vraag? Neem dan gerust contact met me op.</h4>
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="Naam" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="E-mail adres" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="message" class="form-control" placeholder="Uw vraag/bericht" required></textarea>
                            </div>
                            <button type="submit" class="button button-small">Verstuur bericht</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}