{% extends "layout.html.twig" %}
{% block content %}
<div id="hero">
    <div class="container">
        <h1 class="hero-text animated fadeInDown">
            De oplossing voor<br>
            jouw wiskunde opgave
        </h1>
        <div class="cta animated fadeInDown">
            <a href="contact?vraag=kennismakingsgesprek" class="button-outline" rel="nofollow">
                Vraag een gratis kennismakingsgesprek aan
            </a>
        </div>
    </div>
</div>

<div id="features">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h2>Wiskunde bijles en begeleiding bij jouw thuis</h2>
                <p>
                    Wiskunde word door velen gezien als het moeilijkste vak van de middelbare school. Toch is het heel
                    simpel om er beter in te worden. Door veel te oefenen kun je je gemiddelde significant verbeteren.
                    Hierbij kan ik helpen door extra uitleg te geven en tips te gevens tijdens het maken van
                    oefenopgaven.
                </p>
                <p>
                    De bijles formule verzorgt bijlessen in onder andere Oisterwijk, Moergestel en Oirshot. In overleg
                    kunnen hier mogelijk andere plaatsen aan worden toegevoegd.
                </p>
            </div>
        </div>
        <div class="row feature">
            <div class="col-md-6 info">
                <h4>Gepersonaliseerde uitleg</h4>
                <p>
                    Als een bepaalde stap uit de uitleg van je docent te snel ging, kan ik deze altijd nog een keer in
                    alle details uitleggen.
                </p>
                <p>
                    In wiskunde is het vaak zo dat nieuwe onderwerpen zijn gebaseerd op onderwerpen die je al een keer
                    eerder hebt gezien. Had je met dit vorige onderwerp veel moeite, dan is de kans groot dat het
                    nieuwe onderwerp moeilijk te volgen is. In dit geval kunnen we samen het oude onderwerp opnieuw
                    behandelen om zo een betere basis te vormen.
                </p>
            </div>
            <div class="col-md-6 image">
                <img src="images/uitleg.png" class="img-responsive" alt="feature1"/>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row feature backwards">
            <div class="col-md-6 info">
                <h4>Uitgebreide begeleiding</h4>
                <p>
                    Door samen aan oefenopgaves en verdiepende vragen te werken zorgen we ervoor dat je ook tijdens
                    een proefwerk nog weet hoe je die ene lastige vraag moet oplossen.
                </p>
                <p>
                    Wanneer we aan een nieuw onderwerp beginnen zal ik nog heel veel tips en trucs geven. Als de
                    opgaves uit je wiskundeboek uiteindelijk makkelijk lukken, kan ik nog extra opgaves bedenken om te
                    toetsen hoe goed je de stof begrijpt. Deze extra vragen zijn een zeer goede voorbereiding op
                    proefwerken.
                </p>
            </div>
            <div class="col-md-6 image">
                <img src="images/begeleiding.png" class="img-responsive"
                     alt="Begeleiding tijdens het maken van een opgave"
                     title="Begeleiding tijdens het maken van een opgave"/>
            </div>
        </div>
    </div>
</div>
<div id="testimonials">
    <div class="container">
        <div class="row header">
            <div class="col-md-12">
                <h2 style="color:#555;font-weight:300;font-size:28px">Referenties van klanten</h2>
                <p></p>
            </div>
        </div>
        <div class="row" style="margin-top:55px">
            <div class="col-sm-6">
                <div class="testimonial pull-right">
                    <div class="quote">

                        <p>
                            Ik vond Mark een uitstekende bijlesdocent: geduldig, serieus en doelgericht. Het was
                            prettig dat we zowel de stof in het boek behandelden, evenals opgaves die hij voor mij
                            bedacht. Zo kon ik toch meer grip op de, voor mij immer lastige stof krijgen.
                        </p>
                        <p>
                            Ook was het nuttig dat we naar een proefwerk van mij gekeken hebben. We hebben ons daarna
                            sterk gefocusd op de dingen waar ik het meeste moeite mee had. Ook qua communicatie
                            verliep alles goed en hij was immer stipt op tijd.
                        </p>
                        <p>
                            Voor mij zijn de bijlessen meer dan nuttig geweest en ze gaven me net die steun om mijn
                            vwo-diploma te halen. Ik kijk er dan ook met een louter goed gevoel op terug.
                        </p>
                        <div class="arrow-down">
                            <div class="arrow"></div>
                            <div class="arrow-border"></div>
                        </div>
                    </div>
                    <div class="author">
                        <img src="../images/testimonials/max.jpg" class="pic"
                             alt="Max Tromp" title="Max Tromp"/>

                        <div class="name">Max Tromp</div>
                        <div class="company">Wiskunde A, 5/6VWO</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="testimonial">
                    <div class="quote">
                        <p>
                            Ik heb één keer bijles gehad van Mark en dat was mijn enige voldoende dit jaar.
                        </p>
                        <div class="arrow-down">
                            <div class="arrow"></div>
                            <div class="arrow-border"></div>
                        </div>
                    </div>
                    <div class="author">
                        <img src="../images/testimonials/marianne.jpg" class="pic"
                             alt="Marianne Griemink" title="Marianne Griemink"/>

                        <div class="name">Marianne Griemink</div>
                        <div class="company">Wiskunde A, 3VMBO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}