
:root {
  --base-color: #021B36;
  --brand-color: #3A6DA7;
  --font-size: 16px;
  --baseline: 22px;
}

body {
  font-family: Segoe UI, Calibri, Helvetica, sans-serif;
  margin: 40px auto;
  max-width: 750px;
  color: var(--base-color);
}

div {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: serif;
  margin: 0;
  color: var(--brand-color);
}

h1 {
  line-height: calc(var(--baseline) * 2);
  font-size: calc(var(--font-size) * 2);
  margin-bottom: var(--baseline);
}

h2 {
  line-height: calc(var(--baseline) * 2);
  font-size: calc(var(--font-size) * 1.5);
  margin-bottom: var(--baseline);
}

p {
  line-height: var(--baseline);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  padding-bottom: var(--baseline);
}

a {
  color: var(--brand-color);
}

.testimonial {
  background: var(--brand-color);
  color: white;
  padding: var(--baseline);
  padding-bottom: 0;
  margin-left: -var(--baseline);
  margin-right: -var(--baseline);
  margin-bottom: var(--baseline);

  .author {
    font-weight: bold;
    margin-bottom: var(--baseline);
  }

  .quote {
    font-family: serif;
    font-style: italic;
  }
}