{% extends "layout.html.twig" %}
{% block content %}

    <div id="slider">
        <div class="container">
            <div class="row header">
                <div class="col-md-12">
                    <h3>Over mij</h3>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div id="info">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Sinds 3VWO kreeg ik door dat ik erg goed in wiskunde was.
                        Op advies van mijn docent ben ik destijds begonnen met bijles geven aan klasgenoten.
                        Onderhand heb ik al 8 jaar ervaring en veel positieve leerlingen gehad.
                    </p>
                    <p>
                        In mijn studententijd heb ik bijles en huiswerkbegleiding gegeven via een bureau in Eindhoven.
                        Daarnaast ben ik ook assistent-docent geweest bij een examen training.
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        Tegenwoordig heb ik een full-time baan als Backend Web Developer.
                        Aangezien ik het zo voldoenend vind om bijles te geven doe ik dit nog steeds naast mijn baan.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="images/compressed/about-me.jpg" class="img-responsive" title="" alt="" draggable="false">
                </div>
            </div>
        </div>
    </div>

{% endblock %}