html {
  font-family: sans-serif;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

header,
nav {
  display: block;
}

a {
  background-color: transparent;
}

button,
input {
  color: inherit;
  font: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

button {
  overflow-x: visible;
  overflow-y: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button ::-moz-focus-inner,
input ::-moz-focus-inner {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

input {
  line-height: normal;
}

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: rgb(51, 122, 183);
  text-decoration: none;
}

h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
}

blockquote {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-size: 17.5px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgb(238, 238, 238);
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::before,
.container::after {
  content: ' ';
  display: table;
}

.container::after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px inset;
}

.form-control ::-moz-placeholder {
  color: rgb(153, 153, 153);
  opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: rgb(153, 153, 153);
}

.form-group {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.collapse {
  display: none;
}

.nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
}

.nav::before,
.nav::after {
  content: ' ';
  display: table;
}

.nav::after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.navbar::before,
.navbar::after {
  content: ' ';
  display: table;
}

.navbar::after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
  }
}

.navbar-header::before,
.navbar-header::after {
  content: ' ';
  display: table;
}

.navbar-header::after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.0976562) 0px 1px 0px inset;
}

.navbar-collapse::before,
.navbar-collapse::after {
  content: ' ';
  display: table;
}

.navbar-collapse::after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top-width: 0px;
    border-top-style: initial;
    border-top-color: initial;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
}

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.navbar-brand {
  float: left;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-top-left-radius: 1px 1px;
  border-top-right-radius: 1px 1px;
  border-bottom-right-radius: 1px 1px;
  border-bottom-left-radius: 1px 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin-top: 7.5px;
  margin-right: -15px;
  margin-bottom: 7.5px;
  margin-left: -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-inverse {
  background-color: rgb(34, 34, 34);
  border-top-color: rgb(9, 9, 9);
  border-right-color: rgb(9, 9, 9);
  border-bottom-color: rgb(9, 9, 9);
  border-left-color: rgb(9, 9, 9);
}

.navbar-inverse .navbar-brand {
  color: rgb(157, 157, 157);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(157, 157, 157);
}

.navbar-inverse .navbar-toggle {
  border-top-color: rgb(51, 51, 51);
  border-right-color: rgb(51, 51, 51);
  border-bottom-color: rgb(51, 51, 51);
  border-left-color: rgb(51, 51, 51);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-collapse {
  border-top-color: rgb(16, 16, 16);
  border-right-color: rgb(16, 16, 16);
  border-bottom-color: rgb(16, 16, 16);
  border-left-color: rgb(16, 16, 16);
}

:focus {
  outline-width: 0px;
  outline-style: initial;
  outline-color: initial;
}

.button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  font-weight: 400;
  font-size: 17px;
  color: rgb(255, 255, 255) !important;
  text-shadow: rgba(0, 0, 0, 0.199219) 0px -1px 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 2px, rgba(255, 255, 255, 0.878906) 0px 1px 3px -1px inset;
  background-image: -webkit-linear-gradient(top, rgb(93, 164, 255), rgb(65, 123, 255));
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: initial initial;
  background-repeat: initial initial;
}

.button.button-small {
  padding-top: 10px;
  padding-right: 33px;
  padding-bottom: 10px;
  padding-left: 33px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(104, 162, 238);
  border-right-color: rgb(104, 162, 238);
  border-bottom-color: rgb(104, 162, 238);
  border-left-color: rgb(104, 162, 238);
  font-size: 14px;
  font-weight: 500;
}

input[type="text"].form-control,
input[type="email"].form-control {
  box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px inset;
  height: 39px;
}

input[type="text"].form-control::-webkit-input-placeholder,
input[type="email"].form-control::-webkit-input-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 400;
  font-size: 14px;
}

input[type="text"].form-control ::-moz-placeholder,
input[type="email"].form-control ::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-weight: 400;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

a {
  color: rgb(69, 156, 231);
}

.navbar.normal {
  min-height: 70px;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(34, 55, 65);
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  border-bottom-left-radius: 0px 0px;
  box-shadow: rgba(46, 46, 46, 0.296875) 0px 1px 3px 1px, rgba(255, 255, 255, 0.199219) 0px 1px 1px inset;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-width: initial;
  border-color: initial;
  z-index: 9999;
  -webkit-font-smoothing: antialiased;
  background-position: initial initial;
  background-repeat: initial initial;
}

.navbar.normal .navbar-header .navbar-brand {
  color: rgb(255, 255, 255);
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
  font-weight: 500;
  font-size: 23px;
}

.navbar.normal .navbar-header .navbar-toggle {
  margin-top: 17px;
}

@media (min-width: 768px) {
  .navbar.normal .navbar-collapse {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .navbar.normal .navbar-collapse .navbar-nav {
    float: none;
    display: inline-block;
  }
}

.navbar.normal .navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}

@media (max-width: 767px) {
  .navbar.normal .navbar-collapse .navbar-nav > li {
    display: block;
  }
}

.navbar.normal .navbar-collapse .navbar-nav > li > a {
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  color: rgb(213, 213, 213);
  font-weight: 500;
  z-index: 1001;
}

@media (max-width: 767px) {
  .navbar.normal .navbar-collapse .navbar-nav > li > a {
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
  }
}

#eindhoven #cta {
  margin-top: 100px;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 991px) {
  #eindhoven #cta {
    margin-top: 65px;
  }
}

#eindhoven #cta .form-wrapper {
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(247, 248, 251);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(234, 237, 247);
  border-right-color: rgb(234, 237, 247);
  border-bottom-color: rgb(234, 237, 247);
  border-left-color: rgb(234, 237, 247);
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-bottom-left-radius: 8px 8px;
  box-shadow: rgba(100, 100, 100, 0.246094) 0px 1px 1px inset;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-position: initial initial;
  background-repeat: initial initial;
}

#eindhoven #cta h4 {
  font-size: 21px;
  color: rgb(95, 110, 124);
  font-weight: 400;
  text-shadow: rgba(255, 255, 255, 0.496094) 1px 1px 1px;
}

#eindhoven #cta form {
  margin-top: 30px;
}

#eindhoven #cta form .form-group {
  margin-right: 25px;
}

@media (max-width: 991px) {
  #eindhoven #cta form .form-group {
    margin-right: 20px;
  }
}

#eindhoven #cta form .form-group .form-control {
  width: 195px;
}

@media (max-width: 767px) {
  #eindhoven #cta form .form-group .form-control {
    width: 100%;
  }
}

#eindhoven #cta form .button {
  margin-left: 25px;
}

@media (max-width: 991px) {
  #eindhoven #cta form .button {
    margin-top: 25px;
    margin-left: 0px;
  }
}

body {
  -webkit-backface-visibility: hidden;
}
