html {
  font-family: sans-serif;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

header,
nav {
  display: block;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-right: 0px;
  margin-bottom: 0.67em;
  margin-left: 0px;
}

img {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
}

button {
  color: inherit;
  font: inherit;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

button {
  overflow-x: visible;
  overflow-y: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

button ::-moz-focus-inner {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: rgb(51, 122, 183);
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::before,
.container::after {
  content: ' ';
  display: table;
}

.container::after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

.col-md-6,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col-md-6,
  .col-md-12 {
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

.collapse {
  display: none;
}

.nav {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
}

.nav::before,
.nav::after {
  content: ' ';
  display: table;
}

.nav::after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.navbar::before,
.navbar::after {
  content: ' ';
  display: table;
}

.navbar::after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
  }
}

.navbar-header::before,
.navbar-header::after {
  content: ' ';
  display: table;
}

.navbar-header::after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: transparent;
  box-shadow: rgba(255, 255, 255, 0.0976562) 0px 1px 0px inset;
}

.navbar-collapse::before,
.navbar-collapse::after {
  content: ' ';
  display: table;
}

.navbar-collapse::after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top-width: 0px;
    border-top-style: initial;
    border-top-color: initial;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0px;
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
}

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.navbar-brand {
  float: left;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-top-left-radius: 1px 1px;
  border-top-right-radius: 1px 1px;
  border-bottom-right-radius: 1px 1px;
  border-bottom-left-radius: 1px 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin-top: 7.5px;
  margin-right: -15px;
  margin-bottom: 7.5px;
  margin-left: -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-inverse {
  background-color: rgb(34, 34, 34);
  border-top-color: rgb(9, 9, 9);
  border-right-color: rgb(9, 9, 9);
  border-bottom-color: rgb(9, 9, 9);
  border-left-color: rgb(9, 9, 9);
}

.navbar-inverse .navbar-brand {
  color: rgb(157, 157, 157);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(157, 157, 157);
}

.navbar-inverse .navbar-toggle {
  border-top-color: rgb(51, 51, 51);
  border-right-color: rgb(51, 51, 51);
  border-bottom-color: rgb(51, 51, 51);
  border-left-color: rgb(51, 51, 51);
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: rgb(255, 255, 255);
}

.navbar-inverse .navbar-collapse {
  border-top-color: rgb(16, 16, 16);
  border-right-color: rgb(16, 16, 16);
  border-bottom-color: rgb(16, 16, 16);
  border-left-color: rgb(16, 16, 16);
}

:focus {
  outline-width: 0px;
  outline-style: initial;
  outline-color: initial;
}

.button-outline {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: rgb(255, 255, 255);
  padding-top: 12px;
  padding-right: 31px;
  padding-bottom: 12px;
  padding-left: 31px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-bottom-left-radius: 4px 4px;
  font-size: 16px;
  font-weight: 400;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(0, 0, 0, 0.148438);
  text-shadow: rgba(0, 0, 0, 0.0976562) 1px 1px 1px;
  background-position: initial initial;
  background-repeat: initial initial;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

a {
  color: rgb(69, 156, 231);
}

.navbar.hero {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-top-left-radius: 0px 0px;
  border-top-right-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  border-bottom-left-radius: 0px 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  z-index: 999;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .navbar.hero {
    background-image: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    padding-top: 10px;
    background-position: initial initial;
    background-repeat: initial initial;
  }
}

.navbar.hero .navbar-brand {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 26px;
  font-family: Lato, 'Helvetica Neue', Arial;
}

.navbar.hero .navbar-nav > li > a {
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: 500;
}

#home #hero {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: -webkit-radial-gradient(center, ellipse closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.257812)), -webkit-linear-gradient(108deg, rgb(94, 129, 153), rgb(21, 55, 82) 90%);
  background-attachment: initial, initial;
  background-origin: initial, initial;
  background-clip: initial, initial;
  background-color: initial;
  background-size: cover;
  height: 440px;
  position: relative;
  top: -60px;
  padding-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 2px;
  background-position: 50% 16%;
  background-repeat: ;
}

@media (max-width: 991px) {
  #home #hero {
    padding-top: 100px;
    height: 420px;
  }
}

@media (max-width: 767px) {
  #home #hero {
    height: 320px;
  }
}

#home #hero::before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.0976562) 26%, rgba(0, 0, 0, 0.347656) 71%, rgba(0, 0, 0, 0.496094) 100%);
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-position: initial initial;
  background-repeat: initial initial;
}

#home #hero::after {
  position: absolute;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgba(32, 54, 114, 0.289062);
  background-position: initial initial;
  background-repeat: initial initial;
}

#home #hero .container {
  position: relative;
  z-index: 33;
}

#home #hero h1.hero-text {
  font-family: Lato, 'Helvetica Neue', Arial;
  line-height: 52px;
  text-align: left;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.3px;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 1px;
}

@media (max-width: 767px) {
  #home #hero h1.hero-text {
    font-size: 25px;
    line-height: 38px;
    margin-top: 0px;
    text-align: center;
  }
}

#home #hero .cta {
  margin-top: 60px;
}

@media (max-width: 767px) {
  #home #hero .cta {
    text-align: center;
  }
}

#home #hero .cta a {
  margin-right: 20px;
  padding-top: 15px;
  padding-right: 31px;
  padding-bottom: 15px;
  padding-left: 31px;
}

@media (max-width: 767px) {
  #home #hero .cta a {
    font-size: 14px;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 12px;
    padding-left: 25px;
    margin-top: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
}

#home #features {
  margin-top: 20px;
}

@media (max-width: 991px) {
  #home #features {
    margin-top: 50px;
  }
}

#home #features .header {
  text-align: center;
}

#home #features .header h2 {
  color: rgb(85, 85, 85);
  font-weight: 300;
  font-size: 28px;
}

@media (max-width: 767px) {
  #home #features .header h2 {
    font-size: 25px;
  }
}

#home #features .header p {
  font-weight: 300;
  font-size: 17px;
  color: rgb(117, 117, 117);
}

#home #features .feature {
  margin-top: 55px;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 991px) {
  #home #features .feature {
    margin-top: 10px;
  }
}

#home #features .feature .info h4 {
  color: rgb(59, 136, 182);
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  margin-top: 35px;
}

@media (max-width: 991px) {
  #home #features .feature .info h4 {
    text-align: center;
  }
}

#home #features .feature .info p {
  color: rgb(108, 114, 121);
  font-size: 14px;
  margin-top: 20px;
  line-height: 24px;
  width: 83%;
  font-weight: normal;
}

@media (max-width: 991px) {
  #home #features .feature .info p {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  #home #features .feature .image img {
    margin-top: 0px !important;
    margin-right: auto !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
  }
}

@media (max-width: 767px) {
  #home #features {
    margin-top: 0px;
  }
}

body {
  -webkit-backface-visibility: hidden;
}





@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: local(Lato Hairline), local(Lato-Hairline), url(http://fonts.gstatic.com/s/lato/v11/eFRpvGLEW31oiexbYNx7Y_esZW2xOQ-xsNqO47m55DA.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 100;
  src: local(Lato Hairline), local(Lato-Hairline), url(http://fonts.gstatic.com/s/lato/v11/GtRkRNTnri0g82CjKnEB0Q.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local(Lato Light), local(Lato-Light), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: local(Lato Light), local(Lato-Light), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local(Lato Regular), local(Lato-Regular), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local(Lato Regular), local(Lato-Regular), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local(Lato Bold), local(Lato-Bold), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local(Lato Bold), local(Lato-Bold), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local(Lato Black), local(Lato-Black), url(http://fonts.gstatic.com/s/lato/v11/R4a6fty3waPci7C44H8AjvY6323mHUZFJMgTvxaG2iE.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src: local(Lato Black), local(Lato-Black), url(http://fonts.gstatic.com/s/lato/v11/tI4j516nok_GrVf4dhunkg.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 100;
  src: local(Lato Hairline Italic), local(Lato-HairlineItalic), url(http://fonts.gstatic.com/s/lato/v11/muRcAtdNYlnTj3NeuakxChTbgVql8nDJpwnrE27mub0.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 100;
  src: local(Lato Hairline Italic), local(Lato-HairlineItalic), url(http://fonts.gstatic.com/s/lato/v11/9TBVFLzQ3GUZLG8FZ4yrEfesZW2xOQ-xsNqO47m55DA.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: local(Lato Light Italic), local(Lato-LightItalic), url(http://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  src: local(Lato Light Italic), local(Lato-LightItalic), url(http://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local(Lato Italic), local(Lato-Italic), url(http://fonts.gstatic.com/s/lato/v11/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local(Lato Italic), local(Lato-Italic), url(http://fonts.gstatic.com/s/lato/v11/PLygLKRVCQnA5fhu3qk5fQ.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local(Lato Bold Italic), local(Lato-BoldItalic), url(http://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28RnxJtnKITppOI_IvcXXDNrsc.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local(Lato Bold Italic), local(Lato-BoldItalic), url(http://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: local(Lato Black Italic), local(Lato-BlackItalic), url(http://fonts.gstatic.com/s/lato/v11/81X-1TO5y4aMK2PPy9kFwxJtnKITppOI_IvcXXDNrsc.woff2) format(woff2);
  unicode-range: ;
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src: local(Lato Black Italic), local(Lato-BlackItalic), url(http://fonts.gstatic.com/s/lato/v11/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format(woff2);
  unicode-range: ;
}
